langchain/config/venv/
langchain/config/__pycache__/
langchain/config/*.pyc
langchain/config/.env
langchain/config/*.pyo
langchain/config/*.pyd
langchain/config/*.sqlite3
langchain/config/.DS_Store
langchain/config/*.egg-info/