langchain/exemplos/venv/
langchain/exemplos/__pycache__/
langchain/exemplos/*.pyc
langchain/exemplos/.env
langchain/exemplos/*.pyo
langchain/exemplos/*.pyd
langchain/exemplos/*.sqlite3
langchain/exemplos/.DS_Store
langchain/exemplos/*.egg-info/
.vscode/